<% include ../partials/details %>
<!-- <div class="card text-center jumbotron">
  <div class="card-body">
    <h5 class="card-title">Know some interesting Food Stops???</h5>
    <p class="card-text">Let others know about this places...</p>
    <a class= "btn btn-primary" href ="/foodstops/new">Add new FoodStop</a>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <% foodstops.forEach(function(foodstop){ %>
    <div class="col-sm-6">
      
        <div class="card mb-3" style="max-width: 100%;">
			<div class="row col-md-12">
          <div class="col-md-4">
            <img src="<%= foodstop.image%>" class="card-img text-center" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center"><%= foodstop.name %></h5>
              <p class="card-text">
                <h6 class ="text-center">
					<b>Where :</b>  <%= foodstop.address %>
				</h6>
				<h5 class = "text-center">
					<b>Price :</b> &#2352 <%= foodstop.price %>
				</h5>
              </p>
              <div>
                <span class="badge label-primary float-right"
                  ><i class="fas fa-heart"></i> <%= foodstop.likes.length
                  %></span
                >
              </div>
				<a href="/foodstops/<%= foodstop._id %>" class="card-link">Read More</a>
            </div>
          </div>
			</div>
        </div>
      
    </div>
 
  <% }) %>
 </div>
  <a class="btn btn-primary" href="/">Back to Home</a>
</div>
<% include ../partials/footer %>
